In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas series - like a Table Column - 1 Dimensional Array Holding Any Type of Data

In [3]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

## Print specific value

In [ ]:
my_var[2]

## Labels using the index argument

In [6]:
my_index = ["A", "B", "C", "D"]
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [7]:
my_var2["C"]

np.int64(12)

## Key Value Dictionary

In [8]:
cars = {"Tesla": 12, "Mercedes": 42, "BMW":3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [9]:
my_var3["Tesla"]

np.int64(12)